# Ignorer tous les fichiers
*.csv
*.xlsx
*.py
*.spec
*.ipynb


# ...sauf ceux qui sont explicitement listés
!stopwords.csv
!app_opt.py
!moteur_recherche_optimise.py

# Ignorer les dossiers
build/
dist/
__pycache__/
*.egg-info/
venv/
